.cover__container {
    border-radius: 1rem;
    cursor: pointer;
    border: 5px solid #D43790;
    position: relative;
    overflow: hidden;
    transition: all .1s;
    box-shadow: var(--shadow-dark);
    display: inline-block;
}

.cover__container:hover {
    border: 5px solid #870A30;
}

.cover {
    display: block;
    /* width: 100%; */
    object-fit: contain;
}

.shadow {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
    transition: all .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shadow:hover {
    opacity: 1;
}

.shadow-btn__group {
    display: flex;
    padding: 1rem 2rem;
    flex-direction: column;
    gap: 5rem;
}

.shadow-btn {
    padding: .5rem 2rem !important;
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    background-color: #870A30aa;
    border: 2px solid #870A30aa;
    cursor: pointer;
    border-radius: .5rem;
    text-decoration: none;
}

.shadow-btn:hover {
    background-color: #870A30;
    border: 2px solid #870A30;
}

.name {
    text-align: left;
    margin-top: 2rem;
    font-weight: 600;
    font-size: 2.4rem;
    color: var(--color-black);
}

.creator {
    text-align: left;
    font-weight: 400;
    font-size: 2rem;
    color: var(--color-black);
}

