.looking-glass {
    /* max-width: 175rem; */
    /* margin: 8rem auto; */
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    /* min-height: 50rem; */
    /* max-height: 96rem; */
    overflow: hidden;
}

.crown {
    margin-top: 8rem;
    /* height: 72rem; */
}

.scroller {
    height: 90rem;
    padding: 2rem 2.5rem;
    overflow-y: scroll;
}

.normal__btn {
    width: 100%;
    font-size: 2.4rem;
    padding: .5rem 2rem;
    color: var(--color-primary);
    border-radius: .5rem;
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .2s;
    cursor: pointer;
}

.normal__btn:active {
    transform: scale(.92);
}

.normal__btn:hover {
    border: 2px solid var(--color-primary-dark);
    background-color: var(--color-primary-dark);
}
