:root {
    /* GREY COLORS */
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;

    --color-white: #fff;
    --color-black: #000;

    /* RGB COLORS */
    --color-primary: #eb2f64;
    --color-primary-light: #ff3366;
    --color-primary-dark: #ba265d;

    --color-primary-translucent: #eb2f64cc;
    --color-primary-light-translucent: #ff3366cc;
    --color-primary-dark-translucent: #ba265dcc;

    --color-secondary: #e89a1a;
    --color-secondary-light: #ffb900;
    --color-secondary-dark: #ff7730;

    --color-tertiary: #55c57a;
    --color-tertiary-light: #7ed56f;
    --color-tertiary-dark: #28b485;

    --color-quarternary: #3f6dfc;
    --color-quarternary-light: #2998ff;
    --color-quarternary-dark: #5643fa;

    --color-pentanary: #bfaa8c;
    --color-pentanary-light: #d1c0a8;
    --color-pentanary-dark: #c8ad7e;

    /* DEFAULT FONT SIZE */
    --default-font-size: 1.6rem;

    /* SHADOW */
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.1);

    /* TABLE */
    --field-font-size: 2rem;
    --value-font-size: 2rem;
    --cell-padding: 3rem 2rem;
    --title-padding: 4rem 2.4rem;
}
