.form {
    width: max(30%, 40rem);
    padding: 5rem 3rem;
    background-color: transparent;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-left: 4rem;
}

.form__title {
    margin: 0 auto;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: .5rem auto 2rem;
    /* padding: 2rem 4rem; */
    font-size: 2rem;
    color: var(--color-grey-dark-1);
}

.input__label {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-weight: 700;
}

.input__field {
    outline: none;
    border: none;
    background-color: #ffffff44;
    border-bottom: 3px solid purple;
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: .4rem;
    box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.2), 0 .4rem .8rem 0 rgba(0, 0, 0, 0.1);
}

.input__error {
    outline: none;
    border: none;
    border-bottom: 3px solid red;
    background-color: #ffffff44;
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: .4rem;
    box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.2), 0 .4rem .8rem 0 rgba(0, 0, 0, 0.1);
}

.input__error:focus {
    outline: none;
    border-bottom: 3px solid #e89a1a;
    background-color: #e89a1a44;
    box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.2), 0 .4rem .8rem 0 rgba(0, 0, 0, 0.1);
}

.input__field:focus {
    outline: none;
    background-color: #e0d4fd44;
    box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, 0.2), 0 .4rem .8rem 0 rgba(0, 0, 0, 0.1);
}

.input__message {
    color: orangered;
}

.radio-btn__container {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.radio-btn__group {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

.radio-btn {
    display: flex;
    gap: .5rem;
    font-size: 1.8rem;
    font-weight: 600;
    align-items: center;
    color: var(--color-grey-dark-2);
    width: 50%;
}

.inner {
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 10rem;
    background-color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .2s;
}

.active {
    background-color: var(--color-primary);
}

.radio-btn:hover {
    cursor: pointer;
}

.radio-btn:hover .inner {
    background-color: var(--color-primary);
}

.radio-btn__indicator {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    padding: 1rem;
    border-radius: 10rem;
    border: .4rem solid var(--color-primary);
    position: relative;
}

.form__btn-group {
    padding: 0;
}

.form__btn {
    width: 100%;
    font-size: 2.4rem;
    padding: .5rem 2rem;
    color: var(--color-white);
    border-radius: .5rem;
    background-color: #333;
    border: 2px solid #333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .2s;
    cursor: pointer;
}

.form__btn:active {
    transform: scale(.92);
}

.form__btn:hover {
    border: 2px solid var(--color-black);
    background-color: var(--color-black);
}

.file-input::-webkit-file-upload-button {
    font-size: 2rem;
    color: var(--color-primary);
    border: .2rem solid var(--color-primary);
    border-radius: 2rem;
    padding: 1rem 2rem;
    margin-right: 2rem;
    transition: all .2s;
}

.file-input::-webkit-file-upload-button:hover {
    cursor: pointer;
    color: var(--color-white);
    background-color: var(--color-primary);
}

.go-back__btn {
    margin-top: 3rem;
    width: 40%;
    font-size: 2.4rem;
    padding: .5rem 2rem;
    color: var(--color-white);
    border-radius: .5rem;
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .2s;
    cursor: pointer;
}

.go-back__btn:active {
    transform: scale(.92);
}

.go-back__btn:hover {
    border: 2px solid var(--color-primary-dark);
    background-color: var(--color-primary-dark);
}