.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right bottom,
        var(--color-primary-light-translucent),
        var(--color-primary-dark-translucent)),
    url(./imgs/archive.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -2rem;
}

.heading-tertiary {
    font-size: 2rem;
    font-weight: 700;
}

.section-features > * {
    transform: skewY(7deg);
}

.features__list {
    display: flex;
    gap: 3rem;
    justify-content: center;
}

.feature-box {
    background-color: #ffffffcc;
    width: 32rem;
    height: 18rem;
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem #00000026;
    transition: transform .3s;
    list-style: none;
}

.feature-box__text {
    margin-top: 2rem;
    /* text-align: left; */
    font-size: 1.8rem;
}

.feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
}

.feature-box__icon {
    font-size: 6rem;
    margin-bottom: 2rem;
    color: var(--color-primary-translucent);
}
